
<section class="small-section bg-dark">
<div class="container text-center">
<h3 class="title-section color-primary" id="text-elements">Buttons</h3>

<div class="heading-section">Open this file via an HTML editor and copy a shortcode needed for your project.</div>
</div>
</section>

<section class="page-section">
<div class="container">

	<h3 class="title-small title-animation">Buttons on white<span class="text-point">.</span></h3>
	<div class="line-section mb-60"></div>

        <div class="col-sm-6 col-md-3 col-lg-3 mb-40">

<div class="mb-10"><button type="button" class="btn btn-black btn-lg">Button</button> </div>
<div class="mb-10"><button type="button" class="btn btn-black">Button</button>     </div>
<div class="mb-10"><button type="button" class="btn btn-black btn-sm">Button</button></div>
<div class="mb-10"><button type="button" class="btn btn-black btn-xs">Button</button>    </div>                        
                            
</div>

<div class="col-sm-6 col-md-3 col-lg-3 mb-40">

<div class="mb-10"><button type="button" class="btn btn-black btn-lg btn-border">Button</button> </div>
<div class="mb-10"><button type="button" class="btn btn-black btn-border">Button</button>     </div>
<div class="mb-10"><button type="button" class="btn btn-black btn-sm btn-border">Button</button></div>
<div class="mb-10"><button type="button" class="btn btn-black btn-xs btn-border">Button</button>    </div>                        
                            
</div>

        <div class="col-sm-6 col-md-3 col-lg-3 mb-40">

<div class="mb-10"><button type="button" class="btn btn-black btn-lg btn-circle">Button</button> </div>
<div class="mb-10"><button type="button" class="btn btn-black btn-circle">Button</button>     </div>
<div class="mb-10"><button type="button" class="btn btn-black btn-sm btn-circle">Button</button></div>
<div class="mb-10"><button type="button" class="btn btn-black btn-xs btn-circle">Button</button>    </div>                        
                            
</div>

<div class="col-sm-6 col-md-3 col-lg-3 mb-40">

<div class="mb-10"><button type="button" class="btn btn-black btn-lg btn-border btn-circle">Button</button> </div>
<div class="mb-10"><button type="button" class="btn btn-black btn-border btn-circle">Button</button>     </div>
<div class="mb-10"><button type="button" class="btn btn-black btn-sm btn-border btn-circle">Button</button></div>
<div class="mb-10"><button type="button" class="btn btn-black btn-xs btn-border btn-circle">Button</button>    </div>                        
                            
</div>



</div>
</section>


<section class="page-section bg-dark--lighter">
<div class="container">

<h3 class="title-small white title-animation">Buttons on dark<span class="text-point">.</span></h3>
<div class="line-section mb-60"></div>

<div class="col-sm-6 col-md-3 col-lg-3 mb-40">

<div class="mb-10"><button type="button" class="btn btn-white btn-lg">Button</button> </div>
<div class="mb-10"><button type="button" class="btn btn-white">Button</button>     </div>
<div class="mb-10"><button type="button" class="btn btn-white btn-sm">Button</button></div>
<div class="mb-10"><button type="button" class="btn btn-white btn-xs">Button</button>    </div>                        
                            
</div>

<div class="col-sm-6 col-md-3 col-lg-3 mb-40">

<div class="mb-10"><button type="button" class="btn btn-white btn-lg btn-border">Button</button> </div>
<div class="mb-10"><button type="button" class="btn btn-white btn-border">Button</button>     </div>
<div class="mb-10"><button type="button" class="btn btn-white btn-sm btn-border">Button</button></div>
<div class="mb-10"><button type="button" class="btn btn-white btn-xs btn-border">Button</button>    </div>                        
                            
</div>


</div>
</section>

<section class="page-section">
<div class="container">

<h3 class="title-small title-animation">Alternative Buttons<span class="text-point">.</span></h3>
	
<div class="line-section mb-60"></div>

<div class="col-sm-6 col-md-3 col-lg-3 mb-40">

<div class="mb-10"><button type="button" class="btn btn-default btn-lg">Button</button> </div>
<div class="mb-10"><button type="button" class="btn btn-default">Button</button>     </div>
<div class="mb-10"><button type="button" class="btn btn-default btn-sm">Button</button></div>
<div class="mb-10"><button type="button" class="btn btn-default btn-xs">Button</button>    </div>                        
                            
</div>

<div class="col-sm-6 col-md-3 col-lg-3 mb-40">

<div class="mb-10"><button type="button" class="btn btn-default btn-lg btn-border">Button</button> </div>
<div class="mb-10"><button type="button" class="btn btn-default btn-border">Button</button>     </div>
<div class="mb-10"><button type="button" class="btn btn-default btn-sm btn-border">Button</button></div>
<div class="mb-10"><button type="button" class="btn btn-default btn-xs btn-border">Button</button>    </div>                        
                            
</div>

<div class="col-sm-6 col-md-3 col-lg-3 mb-40">

<div class="mb-10"><button type="button" class="btn btn-default btn-lg btn-circle">Button</button> </div>
<div class="mb-10"><button type="button" class="btn btn-default btn-circle">Button</button>     </div>
<div class="mb-10"><button type="button" class="btn btn-default btn-sm btn-circle">Button</button></div>
<div class="mb-10"><button type="button" class="btn btn-default btn-xs btn-circle">Button</button>    </div>                        
                            
</div>

<div class="col-sm-6 col-md-3 col-lg-3 mb-40">

<div class="mb-10"><button type="button" class="btn btn-default btn-lg btn-border btn-circle">Button</button> </div>
<div class="mb-10"><button type="button" class="btn btn-default btn-border btn-circle">Button</button>     </div>
<div class="mb-10"><button type="button" class="btn btn-default btn-sm btn-border btn-circle">Button</button></div>
<div class="mb-10"><button type="button" class="btn btn-default btn-xs btn-border btn-circle">Button</button>    </div>                        
                            
</div>

<div class="col-sm-6 col-md-3 col-lg-3 mb-40">

<div class="mb-10"><button type="button" class="btn btn-primary btn-lg">Button</button> </div>
<div class="mb-10"><button type="button" class="btn btn-primary">Button</button>     </div>
<div class="mb-10"><button type="button" class="btn btn-primary btn-sm">Button</button></div>
<div class="mb-10"><button type="button" class="btn btn-primary btn-xs">Button</button>    </div>                        
                            
</div>

<div class="col-sm-6 col-md-3 col-lg-3 mb-40">

<div class="mb-10"><button type="button" class="btn btn-primary btn-lg btn-border">Button</button> </div>
<div class="mb-10"><button type="button" class="btn btn-primary btn-border">Button</button>     </div>
<div class="mb-10"><button type="button" class="btn btn-primary btn-sm btn-border">Button</button></div>
<div class="mb-10"><button type="button" class="btn btn-primary btn-xs btn-border">Button</button>    </div>                        
                            
</div>

<div class="col-sm-6 col-md-3 col-lg-3 mb-40">

<div class="mb-10"><button type="button" class="btn btn-primary btn-lg btn-circle">Button</button> </div>
<div class="mb-10"><button type="button" class="btn btn-primary btn-circle">Button</button>     </div>
<div class="mb-10"><button type="button" class="btn btn-primary btn-sm btn-circle">Button</button></div>
<div class="mb-10"><button type="button" class="btn btn-primary btn-xs btn-circle">Button</button>    </div>                        
                            
</div>

<div class="col-sm-6 col-md-3 col-lg-3 mb-40">

<div class="mb-10"><button type="button" class="btn btn-primary btn-lg btn-border btn-circle">Button</button> </div>
<div class="mb-10"><button type="button" class="btn btn-primary btn-border btn-circle">Button</button>     </div>
<div class="mb-10"><button type="button" class="btn btn-primary btn-sm btn-border btn-circle">Button</button></div>
<div class="mb-10"><button type="button" class="btn btn-primary btn-xs btn-border btn-circle">Button</button>    </div>                        
                            
</div>

<div class="col-sm-6 col-md-3 col-lg-3 mb-40">

<div class="mb-10"><button type="button" class="btn btn-info btn-lg">Button</button> </div>
<div class="mb-10"><button type="button" class="btn btn-info">Button</button>     </div>
<div class="mb-10"><button type="button" class="btn btn-info btn-sm">Button</button></div>
<div class="mb-10"><button type="button" class="btn btn-info btn-xs">Button</button>    </div>                        
                            
</div>

<div class="col-sm-6 col-md-3 col-lg-3 mb-40">

<div class="mb-10"><button type="button" class="btn btn-info btn-lg btn-border">Button</button> </div>
<div class="mb-10"><button type="button" class="btn btn-info btn-border">Button</button>     </div>
<div class="mb-10"><button type="button" class="btn btn-info btn-sm btn-border">Button</button></div>
<div class="mb-10"><button type="button" class="btn btn-info btn-xs btn-border">Button</button>    </div>                        
                            
</div>

<div class="col-sm-6 col-md-3 col-lg-3 mb-40">

<div class="mb-10"><button type="button" class="btn btn-info btn-lg btn-circle">Button</button> </div>
<div class="mb-10"><button type="button" class="btn btn-info btn-circle">Button</button>     </div>
<div class="mb-10"><button type="button" class="btn btn-info btn-sm btn-circle">Button</button></div>
<div class="mb-10"><button type="button" class="btn btn-info btn-xs btn-circle">Button</button>    </div>                        
                            
</div>

<div class="col-sm-6 col-md-3 col-lg-3 mb-40">

<div class="mb-10"><button type="button" class="btn btn-info btn-lg btn-border btn-circle">Button</button> </div>
<div class="mb-10"><button type="button" class="btn btn-info btn-border btn-circle">Button</button>     </div>
<div class="mb-10"><button type="button" class="btn btn-info btn-sm btn-border btn-circle">Button</button></div>
<div class="mb-10"><button type="button" class="btn btn-info btn-xs btn-border btn-circle">Button</button>    </div>                        
                            
</div>

<div class="col-sm-6 col-md-3 col-lg-3 mb-40">

<div class="mb-10"><button type="button" class="btn btn-success btn-lg">Button</button> </div>
<div class="mb-10"><button type="button" class="btn btn-success">Button</button>     </div>
<div class="mb-10"><button type="button" class="btn btn-success btn-sm">Button</button></div>
<div class="mb-10"><button type="button" class="btn btn-success btn-xs">Button</button>    </div>                        
                            
</div>

<div class="col-sm-6 col-md-3 col-lg-3 mb-40">

<div class="mb-10"><button type="button" class="btn btn-success btn-lg btn-border">Button</button> </div>
<div class="mb-10"><button type="button" class="btn btn-success btn-border">Button</button>     </div>
<div class="mb-10"><button type="button" class="btn btn-success btn-sm btn-border">Button</button></div>
<div class="mb-10"><button type="button" class="btn btn-success btn-xs btn-border">Button</button>    </div>                        
                            
</div>

<div class="col-sm-6 col-md-3 col-lg-3 mb-40">

<div class="mb-10"><button type="button" class="btn btn-success btn-lg btn-circle">Button</button> </div>
<div class="mb-10"><button type="button" class="btn btn-success btn-circle">Button</button>     </div>
<div class="mb-10"><button type="button" class="btn btn-success btn-sm btn-circle">Button</button></div>
<div class="mb-10"><button type="button" class="btn btn-success btn-xs btn-circle">Button</button>    </div>                        
                            
</div>

<div class="col-sm-6 col-md-3 col-lg-3 mb-40">

<div class="mb-10"><button type="button" class="btn btn-success btn-lg btn-border btn-circle">Button</button> </div>
<div class="mb-10"><button type="button" class="btn btn-success btn-border btn-circle">Button</button>     </div>
<div class="mb-10"><button type="button" class="btn btn-success btn-sm btn-border btn-circle">Button</button></div>
<div class="mb-10"><button type="button" class="btn btn-success btn-xs btn-border btn-circle">Button</button>    </div>                        
                            
</div>

<div class="col-sm-6 col-md-3 col-lg-3 mb-40">

<div class="mb-10"><button type="button" class="btn btn-danger btn-lg">Button</button> </div>
<div class="mb-10"><button type="button" class="btn btn-danger">Button</button>     </div>
<div class="mb-10"><button type="button" class="btn btn-danger btn-sm">Button</button></div>
<div class="mb-10"><button type="button" class="btn btn-danger btn-xs">Button</button>    </div>                        
                            
</div>

<div class="col-sm-6 col-md-3 col-lg-3 mb-40">

<div class="mb-10"><button type="button" class="btn btn-danger btn-lg btn-border">Button</button> </div>
<div class="mb-10"><button type="button" class="btn btn-danger btn-border">Button</button>     </div>
<div class="mb-10"><button type="button" class="btn btn-danger btn-sm btn-border">Button</button></div>
<div class="mb-10"><button type="button" class="btn btn-danger btn-xs btn-border">Button</button>    </div>                        
                            
</div>

<div class="col-sm-6 col-md-3 col-lg-3 mb-40">

<div class="mb-10"><button type="button" class="btn btn-danger btn-lg btn-circle">Button</button> </div>
<div class="mb-10"><button type="button" class="btn btn-danger btn-circle">Button</button>     </div>
<div class="mb-10"><button type="button" class="btn btn-danger btn-sm btn-circle">Button</button></div>
<div class="mb-10"><button type="button" class="btn btn-danger btn-xs btn-circle">Button</button>    </div>                        
                            
</div>

<div class="col-sm-6 col-md-3 col-lg-3 mb-40">

<div class="mb-10"><button type="button" class="btn btn-danger btn-lg btn-border btn-circle">Button</button> </div>
<div class="mb-10"><button type="button" class="btn btn-danger btn-border btn-circle">Button</button>     </div>
<div class="mb-10"><button type="button" class="btn btn-danger btn-sm btn-border btn-circle">Button</button></div>
<div class="mb-10"><button type="button" class="btn btn-danger btn-xs btn-border btn-circle">Button</button>    </div>                        
                            
</div>

<div class="col-sm-6 col-md-3 col-lg-3 mb-40">

<div class="mb-10"><button type="button" class="btn btn-warning btn-lg">Button</button> </div>
<div class="mb-10"><button type="button" class="btn btn-warning">Button</button>     </div>
<div class="mb-10"><button type="button" class="btn btn-warning btn-sm">Button</button></div>
<div class="mb-10"><button type="button" class="btn btn-warning btn-xs">Button</button>    </div>                        
                            
</div>

<div class="col-sm-6 col-md-3 col-lg-3 mb-40">

<div class="mb-10"><button type="button" class="btn btn-warning btn-lg btn-border">Button</button> </div>
<div class="mb-10"><button type="button" class="btn btn-warning btn-border">Button</button>     </div>
<div class="mb-10"><button type="button" class="btn btn-warning btn-sm btn-border">Button</button></div>
<div class="mb-10"><button type="button" class="btn btn-warning btn-xs btn-border">Button</button>    </div>                        
                            
</div>

<div class="col-sm-6 col-md-3 col-lg-3 mb-40">

<div class="mb-10"><button type="button" class="btn btn-warning btn-lg btn-circle">Button</button> </div>
<div class="mb-10"><button type="button" class="btn btn-warning btn-circle">Button</button>     </div>
<div class="mb-10"><button type="button" class="btn btn-warning btn-sm btn-circle">Button</button></div>
<div class="mb-10"><button type="button" class="btn btn-warning btn-xs btn-circle">Button</button>    </div>                        
                            
</div>

<div class="col-sm-6 col-md-3 col-lg-3 mb-40">

<div class="mb-10"><button type="button" class="btn btn-warning btn-lg btn-border btn-circle">Button</button> </div>
<div class="mb-10"><button type="button" class="btn btn-warning btn-border btn-circle">Button</button>     </div>
<div class="mb-10"><button type="button" class="btn btn-warning btn-sm btn-border btn-circle">Button</button></div>
<div class="mb-10"><button type="button" class="btn btn-warning btn-xs btn-border btn-circle">Button</button>    </div>                        
                            
</div>



</div>
</section>