<section class="small-section bg-primary">
                <div class="container relative text-center">
                    
                    <h3 class="title-small title-animation">An interface designed for support gurus<span class="text-point white">.</span></h3>
<div class="heading-section white mb-20">Upmin is customer support software that integrates directly with your business.</div>

               
                    <button type="button" class="btn btn-white btn-lg btn-border">Get started</button>

                      
                </div>
            </section>