<section class="page-section">
<div class="container">

<div class="section-icon color-primary">
    <span class="icon-bar-chart"></span>
</div>
<h3 class="title-small title-animation">Charts<span class="text-point">.</span></h3>
<div class="heading-section"><a>MonthMentor é do caralho.</a></div>
<div class="line-section mb-60"></div>

<div class="col-sm-4 text-center">
<h4 class="heading-small mb-30"><i class="icon-clock color-primary"></i> Save Time</h4>
<canvas id="save_chart"></canvas></div>

<div class="col-sm-4 text-center">
<h4 class="heading-small mb-30"><i class="icon-users color-primary"></i> Increase Student Engagement</h4>
<canvas id="engagement_chart"></canvas></div>

<div class="col-sm-4 text-center">
<h4 class="heading-small mb-30"><i class="icon-share-alt color-primary"></i> Increase Student Referrals</h4>
<canvas id="referrals_chart"></canvas></div>


</div>
</section>