<section class="small-section bg-gray">

<div class="section-icon color-primary">
    <span class="icon-bubbles"></span>
</div>

<h3 class="title-small title-animation">Testimonials<span class="text-point">.</span></h3>
<div class="line-section mt-20 mb-30"></div>

<div id="testimonials" class="owl-carousel owl-theme single-carousel">
 
  <div class="item">
  	<blockquote class="testimonial">           
                  At first look I immediately thought that SONGVICE can be a real game changer for the industry! As a teacher before than a music producer I ask myself how we have done before. Highly suggested.
    </blockquote>

    <div class="testimonial-author">
                                        Valerio Rossi (NHB), Music Producer, Label Owner & Teacher at SAE London.
    </div>

  </div>

  <div class="item">
  	<blockquote class="testimonial">Great concept guys, wish I had found this some years ago. Would have helped me improve my production skills much faster.
    </blockquote>

    <div class="testimonial-author">
                                        Timmo, Music Producer at Drumcode.
    </div>
  </div>

  <div class="item">
  	
  </div>
 
</div>


</section>