

<section class="home-section bg-dark">



<div class="container home-content text-center">

<div class="home-group">

<h2 class="white heading-sub">We are just <strong>creative</strong> people</h2>
<h1 class="heading-large color-primary mb-15">We make big ideas</h1>

<a data-scroll href="#go-down"><button type="button" class="btn btn-white btn-md btn-border btn-width-large hidden-xs">Learn More</button></a>
<span class="hidden-xs">&nbsp;</span>
<button type="button" class="btn btn-primary btn-md btn-border btn-width-large">Sign Up</button>
<div id="startchange"></div>
</div>
<div class="clearfix"></div>

</div>

<div class="container scroll-landing">
<div class="local-scroll animated bounce">
                        <a data-scroll href="#go-down" class="scroll-down"><i class="scroll-down-icon"></i><span>Scroll Down</span></a>
                    </div>
</div>

</section>