

<section class="home-section bg-dark">



<div class="container home-content text-center">

<div class="home-group">

<h2 class="white heading-sub">Light speed <strong>student</strong> engagement</h2>
<h3 class="white" id="tagline">stuk<span class="tag_text">.io</span> is a <span class="tag_text">student support</span> system which integrates directly into your <span class="tag_text">online course</span></h3>

<a class="btn btn-white btn-md btn-border btn-width-large hidden-xs typeform-share" href="https://stuk.typeform.com/to/AMlFtP" data-mode="1" target="_blank" style="border-color: white;">Get Started</a>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>



<span class="hidden-xs">&nbsp;</span>
<div id="startchange"></div>
</div>
<div class="clearfix"></div>

</div>

<div class="container scroll-landing">
<div class="local-scroll animated bounce">
                        <a data-scroll href="#go-down" class="scroll-down"><i class="scroll-down-icon"></i><span>Scroll Down</span></a>
                    </div>
</div>

</section>