  
<div class="responsive-nav">
  <header id="top" role="banner">
        <div class="logo-container">
            <h1 class="logo-ir">Stuk.io</h1>
            <a class="nav-btn" id="nav-open-btn" href="#nav">Book Navigation</a>
        </div>

        <nav class="nav-menu hidden-xs">
        <ul class="list-unstyled list-inline">
            <li><a href="../trunk.html" class="active">HOME</a></li>
   
            <li><a class="typeform-share" href="https://stuk.typeform.com/to/AMlFtP" data-mode="1" target="_blank">SIGNUP</a></li>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
        </ul>
    </nav>


    </header>

    </div>

    <nav id="nav" role="navigation" class="hidden-lg hidden-md hidden-sm">
        <div class="block">
            <h2 class="block-title">Chapters</h2>
            <ul>
                <li class="is-active">
                    <a href="#">Chapter 1</a>
                </li><!--
             --><li>
                    <a href="#">Chapter 2</a>
                </li><!--
             --><li>
                    <a href="#">Chapter 3</a>
                </li><!--
             --><li>
                    <a href="#">Chapter 4</a>
                </li><!--
             --><li>
                    <a href="#">Chapter 5</a>
                </li>
            </ul>
            <a class="close-btn" id="nav-close-btn" href="#top">Return to Content</a>
        </div>
    </nav>