
<div class="small-section bg-dark">
<div class="container text-center">
<h3 class="title-section color-primary id="text-elements"">Typography</h3>
<div class="heading-section">Open this file via an HTML editor and copy a shortcode needed for your project.</div>
</div>
</div>

<div class="page-section">
<div class="container">

	<h3 class="title-small">Text <span class="serif">&</span> Grid<span class="text-point">.</span></h3>
	<div class="heading-section"><a href="http://getbootstrap.com/css/#grid" target="_blank">More about grid system</a></div>
	<div class="line-section mb-60"></div>

		<div class="row">
			<div class="col-sm-6 mb-40">
			                            
			                            
			                                <h5 class="uppercase">One Half</h5>
			                                <p>Lorem ipsum dolor sit amet, <a href="#" title="" class="tooltips" data-placement="top" data-original-title="Title text here">tooltip top</a> consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.</p>
			                            
			                            
			</div>
		

		<div class="col-sm-6 mb-40">
                            
                            
                                <h5 class="uppercase">One Half</h5>
                                <p>Lorem ipsum dolor <a href="#" title="" class="tooltips" data-original-title="Title text here" data-placement="bottom">tooltip bottom</a> sit amet, consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.</p>
                            
                            
        </div>
        </div>


        <hr class="mb-40">

        <div class="row">
        	<div class="col-sm-4 mb-40">
                            
                            
                                <h5 class="uppercase">One Third</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.
                            </p>
                            
            </div>

            <div class="col-sm-4 mb-40">
                            
                            
                                <h5 class="uppercase">One Third</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.
                            </p>
                            
            </div>

            <div class="col-sm-4 mb-40">
                            
                            
                                <h5 class="uppercase">One Third</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.
                            </p>
                            
            </div>


        </div>

        <hr class="mb-40">

        <div class="row">

        	<div class="col-sm-3 mb-40">
                            
                            
                                <h5 class="uppercase">One Fourth</h5>
                                <p>Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.</p>
                           
                            
                        </div>

            <div class="col-sm-3 mb-40">
                            
                            
                                <h5 class="uppercase">One Fourth</h5>
                                <p>Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.</p>
                           
                            
                        </div>

                        <div class="col-sm-3 mb-40">
                            
                            
                                <h5 class="uppercase">One Fourth</h5>
                                <p>Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.</p>
                           
                            
                        </div>

                        <div class="col-sm-3 mb-40">
                            
                            
                                <h5 class="uppercase">One Fourth</h5>
                                <p>Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.</p>
                           
                            
                        </div>

        </div>

</div>
</div>


<div class="page-section bg-gray--light">
<div class="container">

<h3 class="title-small">HEADINGS<span class="text-point">.</span></h3>
<div class="line-section mb-60"></div>

<div class="row">
<div class="col-sm-6 col-md-3 mb-40 text-center">
                            
                            <h1>Heading 1</h1><hr>
							<h2>Heading 2</h2><hr>
							<h3>Heading 3</h3><hr>
							<h4>Heading 4</h4><hr>
							<h5>Heading 5</h5><hr>
							<h6>Heading 6</h6><hr>
                            
</div>

<div class="col-sm-6 col-md-3 mb-40 text-center">
                            
                            <h1 class="uppercase">Heading 1</h1><hr>
							<h2 class="uppercase">Heading 2</h2><hr>
							<h3 class="uppercase">Heading 3</h3><hr>
							<h4 class="uppercase">Heading 4</h4><hr>
							<h5 class="uppercase">Heading 5</h5><hr>
							<h6 class="uppercase">Heading 6</h6><hr>
                            
</div>

<div class="col-sm-6 col-md-3 mb-40 text-center">
                            
                            <h1 class="serif">Heading 1</h1><hr>
							<h2 class="serif">Heading 2</h2><hr>
							<h3 class="serif">Heading 3</h3><hr>
							<h4 class="serif">Heading 4</h4><hr>
							<h5 class="serif">Heading 5</h5><hr>
							<h6 class="serif">Heading 6</h6><hr>
                            
</div>

<div class="col-sm-6 col-md-3 mb-40 text-center">
                            
                            <h1 class="uppercase color-primary">Heading 1</h1><hr>
							<h2 class="uppercase color-primary">Heading 2</h2><hr>
							<h3 class="uppercase color-primary">Heading 3</h3><hr>
							<h4 class="uppercase color-primary">Heading 4</h4><hr>
							<h5 class="uppercase color-primary">Heading 5</h5><hr>
							<h6 class="uppercase color-primary">Heading 6</h6><hr>
                            
</div>
</div>

</div>
</div>

<div class="page-section">
<div class="container">

<h3 class="title-small">Formating<span class="text-point">.</span></h3>
	<div class="heading-section"><a href="http://getbootstrap.com/css/#type-emphasis" target="_blank">More about typography</a></div>
<div class="line-section mb-60"></div>


<div class="row">
                    	
                        <!-- Col -->
                        
                        <div class="col-sm-6 mb-40">
                            
                            <!-- Paragraph -->
                            
                                
                                <h5 class="uppercase mb-30">Paragraph</h5>
                                
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae.
                                    Consectetur adipiscing elit. Integer posuere erat a ante. Mauris non ipsum molestie, sagittis elit ac, vulputate odio.
                                </p>

                                <h5 class="uppercase mb-30">Lead body Paragraph</h5>

                                <p class="lead">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae.
                                    Consectetur adipiscing elit. Integer posuere erat a ante. Mauris non ipsum molestie, sagittis elit ac, vulputate odio.
                                </p>
                                
                            
	                        <!-- End Paragraph -->
                            
                        </div>
                        
                        <!-- End Col -->
                        
                        <!-- Col -->
                        
                        <div class="col-sm-6 mb-40">
                            
                            <!-- Blockquote -->							
                            <blockquote>
                                
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                                </p>
                                
                                <footer>
                                    Someone famous in 
                                    <cite title="Source Title">
                                        Source Title
                                    </cite>
                                </footer>
                                
                            </blockquote>
							<!-- End Blockquote -->
                            
                        </div>
                        
                        <!-- End Col -->
						
					</div>


					<hr class="mb-60">


<div class="row">
                    	
                        <!-- Col -->
                        
                        <div class="col-sm-4 mb-40">
                            
                            <!-- List UL -->
							
							    <h5 class="uppercase mb-30">List UL</h5>
                            <div class="text">
                                <ul>
                                    <li>First item</li>
                                    <li>Second item</li>
                                    <li>
                                        Third item
                                        <ul>
                                            <li>First item</li>
                                            <li>Second item</li>
                                            <li>Third item</li>
                                        </ul>
                                    </li>
    								<li>Fourth item</li>
    								<li>Fives item</li>
                                </ul>
                            </div>
                            
                        </div>
                        
                        <!-- End Col -->
                        
                        <!-- Col -->
                        
                        <div class="col-sm-4 mb-40">
                            
                            <!-- List OL -->
							
							    <h5 class="uppercase mb-30">List OL</h5>
                            <div class="text">
                                <ol>
                                    <li>First item</li>
                                    <li>Second item</li>
                                    <li>
                                        Third item
                                        <ol>
                                            <li>First item</li>
                                            <li>Second item</li>
                                            <li>Third item</li>
                                        </ol>
                                    </li>
    								<li>Fourth item</li>
    								<li>Fives item</li>
                                </ol>
                            </div>
                            
                        </div>
                        
                        <!-- End Col -->
                        
                        <!-- Col -->
                        
                        <div class="col-sm-4 mb-40">
                            
                            <!-- Emphasis -->
                            
                                <h5 class="uppercase mb-30">Emphasis</h5>
                                
                                <p>
                                    <small>
                                        This line of text is meant to be treated as fine print.
                                    </small>
                                </p>
                                
                                <p>
                                    <strong>Rendered as bold text</strong>
                                </p>
                                
                                <p>
                                    <em>Rendered as italicized text</em>
                                </p>
                                
                                <p>
                                    <span class="serif">Rendered as italicized text</span>
                                </p>
                                
                            
							<!-- End Emphasis -->
                            
                            
                        </div>
                        
                        <!-- End Col -->
                        
                    </div>


</div>
</div>