
<div id="go-to-top"></div>
<%= render 'intro' %>
<div id="go-down"></div>
<%= render 'app_screenshot' %>
<%= render 'customer_love' %>
<%= render 'charts' %>





<div class="small-section bg-dark">
<div class="container text-center">
<a data-scroll href="#go-to-top"><h1>GO TO TOP</h1></a>
</div>
</div>

<!--[if lt IE 9]>
<script>
document.createElement('video');
</script>
<![endif]-->

