<style>

.p-small {
font-size: 1.4em;
line-height: 2em;
}

.question {
    margin-bottom: 7px;
}

.automated {
font-size: 1.2em;
font-weight: 500;
color: #555555;
line-height: 2em;
margin: 11px 0 1.5em 0;
text-decoration: underline;
}

.xsmall-section {
    padding: 15px;
}

.margin-left-fix {
margin-left: -15px;
margin-top: 8px;
}


</style>


<section class=""><br><br>
<div class="container">
<div class="row">
<div class="col-sm-9">
<div class="xsmall-section bg-primary mb-15">


<div class="row">
<div class="col-sm-9">
<h5 class="mb-10 white">TICKET #148 <span class="font-regular">| Subject: Can't find the resources | Course: Intro to EDM | Lecture: 3. Drums</span></h5>
</div>

<div class="col-sm-3 text-right">
<button type="button" class="btn btn-white btn-xs btn-border">Close Ticket</button>
</div>

</div>


</div>

<div class="block-section border-gray mb-15 bg-gray--light">
<h6 class="mb-10 color-primary">ANSWER SUGGESTIONS (click to preview)</h6>


<p class="question">Answered 2 days ago. 
<a>Drum sample packs were not found</a> 
</p>

<p class="question">Answered 8 days ago. 
<a>Can't find lecture resources</a>
</p>


</div>

<div class="row">
<div class="col-sm-8">

<div class="block-section border-gray mb-15 bg-gray--light">
<h6 class="mb-10 color-primary">REPLY TO STUDENT</h6>

<textarea class="form-control mb-10" rows="3"></textarea>

<button type="button" class="btn btn-default btn-xs">Other Messages</button><span> &nbsp;</span>

<button type="button" class="btn btn-default btn-xs">Add Resource</button><span> &nbsp;</span>

<button type="button" class="btn btn-primary btn-xs"><i class="icon-paper-plane"></i> Send Reply</button>

</div>

</div>

<div class="col-sm-4">

<div class="block-section border-gray mb-15 bg-gray--light">
<h6 class="mb-10 color-primary">AUTOMATED RESPONSES</h6>

<p class="automated">Thank You Message.<br>
Do you have any more questions?<br>
Please rate my course.<br>
Share with your friends.</p>


</div>


</div>



</div>



<div class="block-section border-gray mb-15 bg-gray--light">
<h6 class="mb-10">HENRIQUE CAIANO <small> <i class="fa fa-clock-o"></i> 4 minutes ago</small></h6>
<p class="p-small">
Hi John, thank you for your question. This is an automated message as I will be back in a sec! 
<br>In the meanwhile can you check if these student past questions fit your needs?

</p>

<p class="question">1. 
<a>Drums sample pack download link.</a>
</p>

<p class="question">2. 
<a>How to open a wav sample into a Simpler on Ableton Live.</a>
</p>

<p class="question">3. 
<a>Use a instrument rack to layer your kick drums.</a>
</p><br>

<p class="p-small">
Thank you, I'll answer you asap.<br>
Henrique Caiano

</p>

</div>

<div class="block-section border-gray bg-gray--light">
<h6 class="mb-10">JOHN RAMEY <small> <i class="fa fa-clock-o"></i> 1 hour ago</small></h6>
<p class="p-small">
From when i started from lecture 17, you had numerous differen things that didnt. eg 2 x mental synth (freeze), marimba Fx. am i suppose to have already done these in previous lectures. i have gone back and havent seen anything of the sort. Also the start of lecture 18 you say copy and past the kick. if i do that i have the KICK: high, mid and low with all the effects on that group. the kick you duplicate is one kick clip. where did you obtain this kick clip from??

</p>

<div class="row">
<div class="col-sm-3">
<%= image_tag 'ableton.jpg', class: 'img-responsive' %>
</div>

<div class="col-sm-3">
<%= image_tag 'ableton.jpg', class: 'img-responsive' %>
</div>

</div>


</div>

</div>


<div class="col-sm-3">

<div class="block-section bg-gray--light border-gray mb-15">

<div class="row">
<div class="col-sm-4"><%= image_tag 'caiano.jpg', class: 'img-responsive' %></div>

<div class="col-sm-8 margin-left-fix">
    <h6 class="">JOHN RAMEY</h6>
    <p class="font-regular small">JOHN183@GMAIL.COM</p>
    <p class="font-regular small">STUDENT SINCE: 23/04/2012</p>
    <p class="font-regular small">TICKETS OPENED: 13</p>

</div>






</div>

</div>

<button type="button" class="btn btn-primary btn-lg btn-block">Suggest live chat</button>
<canvas class="pd-15" id="student_chart"></canvas>
<p class="font-regular small text-center">completion ratio (lecture vs time spent)</p>

</div>




</div>


</div>
</section><br><br>

<script>
var ctx2 = $("#student_chart").get(0).getContext("2d");

var data2 = {
   labels : ["L1","L2","L3","L4","L5","L6"],
   datasets: [
       {
           label: "Completion Ratio",
           fillColor: "rgba(220,220,220,0.2)",
           strokeColor: "rgba(220,220,220,1)",
           pointColor: "rgba(220,220,220,1)",
           pointStrokeColor: "#fff",
           pointHighlightFill: "#fff",
           pointHighlightStroke: "rgba(220,220,220,1)",
           data : [30, 40, 60, 20, 15, 40]
       }
   ]
};

var myLineChart2 = new Chart(ctx2).Line(data2, {});
</script>