<div id="go-to-top"></div>

<%= render 'testimonials' %>
<%= render 'buttons' %>
<%= render 'typography' %>

<div class="small-section bg-dark">
<div class="container text-center">
<a data-scroll href="#go-to-top"><h1>GO TO TOP</h1></a>
</div>
</div>