<div id="go-to-top"></div>

<div class="page-section">
<div class="container">

	<h3 class="title-small">Text <span class="serif">&</span> Grid<span class="text-point">.</span></h3>
	<div class="heading-section"><a>More about grid system</a></div>
	<div class="line-section mb-60"></div>

		<div class="row">
			<div class="col-sm-6 mb-40">
			                            
			                            
			                                <h5 class="uppercase">One Half</h5>
			                                <p>Lorem ipsum dolor sit amet, <a href="#" title="" class="tooltips" data-placement="top" data-original-title="Title text here">tooltip top</a> consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.</p>
			                            
			                            
			</div>
		

		<div class="col-sm-6 mb-40">
                            
                            
                                <h5 class="uppercase">One Half</h5>
                                <p>Lorem ipsum dolor <a href="#" title="" class="tooltips" data-original-title="Title text here" data-placement="bottom">tooltip bottom</a> sit amet, consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.</p>
                            
                            
        </div>
        </div>


        <hr class="mb-40">

        <div class="row">
        	<div class="col-sm-4 mb-40">
                            
                            
                                <h5 class="uppercase">One Third</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.
                            </p>
                            
            </div>

            <div class="col-sm-4 mb-40">
                            
                            
                                <h5 class="uppercase">One Third</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.
                            </p>
                            
            </div>

            <div class="col-sm-4 mb-40">
                            
                            
                                <h5 class="uppercase">One Third</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.
                            </p>
                            
            </div>


        </div>

        <hr class="mb-40">

        <div class="row">

        	<div class="col-sm-3 mb-40">
                            
                            
                                <h5 class="uppercase">One Fourth</h5>
                                <p>Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.</p>
                           
                            
                        </div>

            <div class="col-sm-3 mb-40">
                            
                            
                                <h5 class="uppercase">One Fourth</h5>
                                <p>Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.</p>
                           
                            
                        </div>

                        <div class="col-sm-3 mb-40">
                            
                            
                                <h5 class="uppercase">One Fourth</h5>
                                <p>Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.</p>
                           
                            
                        </div>

                        <div class="col-sm-3 mb-40">
                            
                            
                                <h5 class="uppercase">One Fourth</h5>
                                <p>Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.</p>
                           
                            
                        </div>

        </div>

</div>
</div>


<div class="page-section bg-gray--light">
<div class="container">

<h3 class="title-small">HEADINGS<span class="text-point">.</span></h3>
<div class="line-section mb-60"></div>

<div class="row">
<div class="col-sm-6 col-md-3 mb-40 text-center">
                            
                            <h1>Heading 1</h1><hr>
							<h2>Heading 2</h2><hr>
							<h3>Heading 3</h3><hr>
							<h4>Heading 4</h4><hr>
							<h5>Heading 5</h5><hr>
							<h6>Heading 6</h6><hr>
                            
</div>

<div class="col-sm-6 col-md-3 mb-40 text-center">
                            
                            <h1 class="uppercase">Heading 1</h1><hr>
							<h2 class="uppercase">Heading 2</h2><hr>
							<h3 class="uppercase">Heading 3</h3><hr>
							<h4 class="uppercase">Heading 4</h4><hr>
							<h5 class="uppercase">Heading 5</h5><hr>
							<h6 class="uppercase">Heading 6</h6><hr>
                            
</div>

<div class="col-sm-6 col-md-3 mb-40 text-center">
                            
                            <h1 class="serif">Heading 1</h1><hr>
							<h2 class="serif">Heading 2</h2><hr>
							<h3 class="serif">Heading 3</h3><hr>
							<h4 class="serif">Heading 4</h4><hr>
							<h5 class="serif">Heading 5</h5><hr>
							<h6 class="serif">Heading 6</h6><hr>
                            
</div>

<div class="col-sm-6 col-md-3 mb-40 text-center">
                            
                            <h1 class="uppercase color-primary">Heading 1</h1><hr>
							<h2 class="uppercase color-primary">Heading 2</h2><hr>
							<h3 class="uppercase color-primary">Heading 3</h3><hr>
							<h4 class="uppercase color-primary">Heading 4</h4><hr>
							<h5 class="uppercase color-primary">Heading 5</h5><hr>
							<h6 class="uppercase color-primary">Heading 6</h6><hr>
                            
</div>
</div>

</div>
</div>

<div class="small-section bg-dark">
<div class="container text-center">
<a data-scroll href="#go-to-top"><h1>GO TO TOP</h1></a>
</div>
</div>