/* Xtra Large Devices, Wide Screens (Retina) */
@media 
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2), 
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) { 
	
}

/* SUPER Large Devices, Wide Screens */
@media only screen 
and (min-width : 1824px) {

section:hover .single-carousel .owl-prev, section:hover .small-item-carousel .owl-prev {
left: 5em;
}

section:hover .single-carousel .owl-next, section:hover .small-item-carousel .owl-next {
right: 5em;
}

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

section:hover .single-carousel .owl-prev, section:hover .small-item-carousel .owl-prev {
left: 1em;
}

section:hover .single-carousel .owl-next, section:hover .small-item-carousel .owl-next {
right: 1em;
}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

.heading-large {
font-size: 7em;
}

}

/* Small Devices, Tablets IPAD GENERAL */
@media only screen and (max-width : 768px) {

.heading-large {
font-size: 5em;
}

.heading-sub {
	font-size: 2.5em;
}

.logo-ir {
margin-left: auto;
margin-right: auto;
}



.logo-container {
	float: inherit;
}

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

body {
font-size: 50%;
}

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	
}

/* Small Devices, Tablets IPAD PORTRAIT */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
}

/* Small Devices, Tablets IPAD LANDSCAPE */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
}

