/*------------------------------------*\
    #LANDING PAGE
\*------------------------------------*/
#tagline {
    padding-bottom: 35px;
}

.tag_text {
    color: #27c5c3;
}

.home-group h2 {
	z-index: 1;
	font-weight: 300;
	margin-top: -10.5em;
}

.home-group {
vertical-align: middle;
display: table-cell;
}

.home-content {
    position: relative;
    z-index: 2;
    display: table;
    width: 100%;
    height: 100vh;
}

.local-scroll.bounce {
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: infinite;

    -moz-animation-duration: 2s; 
    -moz-animation-iteration-count: infinite;
}

.scroll-landing {
z-index: 2;
position: relative;
}




/*------------------------------------*\
    #RESPONSIVE MENU
\*------------------------------------*/


.logo-container {
	float: left;
}

.nav-menu {
position: absolute;
top: 23px;
right: 10px;
font-size: 1.15em;
}

.nav-menu ul li a {
padding-left: 20px;
color: $gray;
}

.nav-menu ul li a:hover, .nav-menu ul li a:focus, .nav-menu ul li a:active, .nav-menu ul li a.active {
color: $brand-primary;
}